<div class="mask d-flex align-items-center h-100 gradient-custom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card">
          <div class="card-body p-4 p-md-5">
            <div class="container">
              <mdb-tabs [pills]="true" [justified]="true">
                <mdb-tab title="Login">
                  <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="text-center mb-3">
                      <p>Sign in with:</p>
                      <button type="button" class="btn btn-primary btn-floating mx-1" style="background-color: #3b5998;" disabled>
                        <i class="fab fa-facebook-f fa-lg"></i>
                      </button>

                      <button type="button" class="btn btn-primary btn-floating mx-1" style="background-color: #dd4b39;" (click)="googleLogin()">
                        <i class="fab fa-google fa-lg"></i>
                      </button>

                      <button type="button" class="btn btn-primary btn-floating mx-1" style="background-color: #7289da;" disabled>
                        <i class="fab fa-discord fa-lg"></i>
                      </button>

                      <button type="button" class="btn btn-primary btn-floating mx-1" style="background-color: #333333;" disabled>
                        <i class="fab fa-github fa-lg"></i>
                      </button>
                    </div>

                    <p class="text-center">or:</p>

                    <mdb-form-control class="form-outline mb-4">
                      <input mdbInput [mdbValidate]="false" type="email" class="form-control" formControlName="username" />
                      <label mdbLabel class="form-label">Username or email</label>
                    </mdb-form-control>

                    <mdb-form-control class="form-outline mb-4">
                      <input mdbInput [mdbValidate]="false" type="password" class="form-control" formControlName="password"/>
                      <label mdbLabel class="form-label">Password</label>

                      <mdb-error class="mb-4 d-flex justify-content-center">
                        {{ loginErrorMessage }}
                      </mdb-error>
                    </mdb-form-control>

                    <div class="mb-4 d-flex justify-content-center">
                        <a href="#!">Forgot password?</a>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                  </form>
                </mdb-tab>
                <mdb-tab title="Register">
                  <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="text-center mb-3">
                      <p>Sign up with:</p>
                      <button type="button" class="btn btn-primary btn-floating mx-1" style="background-color: #3b5998;" disabled>
                        <i class="fab fa-facebook-f fa-lg"></i>
                      </button>

                      <button type="button" class="btn btn-primary btn-floating mx-1" style="background-color: #dd4b39;" (click)="googleLogin()">
                        <i class="fab fa-google fa-lg"></i>
                      </button>

                      <button type="button" class="btn btn-primary btn-floating mx-1" style="background-color: #7289da;" disabled>
                        <i class="fab fa-discord fa-lg"></i>
                      </button>

                      <button type="button" class="btn btn-primary btn-floating mx-1" style="background-color: #333333;" disabled>
                        <i class="fab fa-github fa-lg"></i>
                      </button>
                    </div>

                    <p class="text-center">or:</p>

                    <mdb-form-control class="form-outline mb-4">
                      <input mdbInput [mdbValidate]="false" type="email" class="form-control" formControlName="username" />
                      <label mdbLabel class="form-label">Username</label>
                    </mdb-form-control>

                    <mdb-form-control class="form-outline mb-4">
                      <input mdbInput [mdbValidate]="false" type="email" class="form-control" formControlName="email" />
                      <label mdbLabel class="form-label">Email</label>
                    </mdb-form-control>

                    <mdb-form-control class="form-outline mb-4">
                      <input mdbInput [mdbValidate]="false" type="password" class="form-control" formControlName="password"/>
                      <label mdbLabel class="form-label">Password</label>
                    </mdb-form-control>

                    <mdb-form-control class="form-outline mb-4">
                      <input mdbInput [mdbValidate]="false" type="password" class="form-control" formControlName="repeatPassword"/>
                      <label mdbLabel class="form-label">Repeat password</label>

                      <mdb-error class="mb-4 d-flex justify-content-center">
                        {{ registerErrorMessage }}
                      </mdb-error>
                    </mdb-form-control>

                    <div class="form-check d-flex justify-content-center mb-4">
                      <input mdbCheckbox class="form-check-input me-2" type="checkbox" id="registerCheck" formControlName="agreeToTerms"/>
                      <label class="form-check-label" for="registerCheck">
                        I have read and agree to the terms
                      </label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mb-3">Sign up</button>
                  </form>
                </mdb-tab>
              </mdb-tabs>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>