.mission {
  background: white;
  box-shadow: 3px 3px 6px rgba(0,0,0,.5);
  margin: 0 10px 10px;

  .btn {
    padding: 0.1rem 0.4rem 0.1rem 0.4rem
  }

  &__wrapper {
    padding: 5px 10px 1px;
    display: flex;
  }
  
  &__points {
    font-weight: bold;
    margin: 0 6px;
  }

  &__progressbar {
    height: 4px;
    background: #00b74a;
    width: 100%;
  }

  &--impossible {
    background: #f93154;
  }
}

.mission--impossible {
  background: #FFEBEE;

  .mission__progressbar {
    background: #f93154;
  }

  .mission__points {
    color: #D32F2F;
  }
}

.mission--finished {
  background: #E8F5E9;

  .mission__points {
    color: #388E3C;
  }
}

@media (min-resolution: 144dpi) {
  .mission {
    font-size: 0.75rem;
    margin: 0 5px 10px;

    &__wrapper {
      padding: 5px 5px 1px;
    }

    .btn {
      padding: 0.1rem;
    }
  }
}