/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import '~mdb-ui-kit/css/mdb.min.css';

@import '~ngx-toastr/toastr';

@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

.toast-top-right {
  top: 3px !important;
  right: calc(10vw + 3px) !important;
  pointer-events: none;
}

:root {
  --map-height: 921.633px;
  --map-width: 1408px;
  --color-red:  #B71C1C;
  --color-blue:   #0D47A1;
  --color-green:  #33691E;
  --color-yellow: #FFD600;
  --color-purple: #880E4F;
  --color-orange: #E65100;
  --color-white:  #EEEEEE;
  --color-black:  #000000;
  --color-gray:  #757575;
  --color-cardback: url("/assets/oriental-tiles.png") center center;
  --color-joker: linear-gradient(
    20deg,
    #E65100,
    #FFD600,
    #33691E,
    #0D47A1,
    #880E4F,
    #B71C1C
  );
  --color-pink: #EC407A;
  --color-lightblue: #42A5F5;
  --color-lightgreen: #66BB6A;
  --color-brown: #8D6E63;
  --color-lime: #D4E157;
};

@keyframes highlightbg {
  0% {
    background-color: white;
  }
  50% {
    background-color: #ff8080;
  }
  100% {
    background-color: red;
  }
};

@keyframes highlighttext {
  0% {
    color: white;
  }
  50% {
    color: #ff8080;
  }
  100% {
    color: red;
  }
};

[data-color="-1"] { background: var(--color-cardback); }
[data-color="0"] { background: var(--color-joker); }
[data-color="1"] { background: var(--color-red); }
[data-color="2"] { background: var(--color-blue); }
[data-color="3"] { background: var(--color-green); }
[data-color="4"] { background: var(--color-yellow); }
[data-color="5"] { background: var(--color-purple); }
[data-color="6"] { background: var(--color-orange); }
[data-color="7"] { background: var(--color-white); }
[data-color="8"] { background: var(--color-black); }
[data-color="9"] { background: var(--color-gray); }

[data-playercolor="0"] { background: var(--color-pink); }
[data-playercolor="1"] { background: var(--color-lightblue); }
[data-playercolor="2"] { background: var(--color-lightgreen); }
[data-playercolor="3"] { background: var(--color-brown); }
[data-playercolor="4"] { background: var(--color-lime); }

body, html {
  margin: 0;
  padding: 0;
}

.gradient-custom {
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgba(255, 187, 51, 1), rgba(233, 30, 99, 1))
}

body {
  min-height: 100vh;
}

h3 {
  font-size: 1.5rem;
}

.train, .node {
  position: absolute;
  box-shadow: 2px 2px 7px black, inset 2px 2px 6px rgba(255, 255, 255, 0.75);
  // border: 2px solid darkgray;
  transition: all 0.15s linear;
}

.route {
  position: absolute;
  height: 10px;
  border: 2px solid #212121;
}

.train {
  cursor: pointer;
  width: 44px;
  height: 16px;
}

.route-container:hover .train {
  filter: brightness(115%);
}

.node {
  border-radius: 9px;
  width: 18px;
  height: 18px;
  background: gray;

  &__label {
    text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
    color: white;
    font-family: 'Stint Ultra Condensed';
    font-size: 1.7rem;
    letter-spacing: -0.5px;
    word-spacing: -1px;
    white-space: nowrap;
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: -5;
    display: block;
  }

  &--highlighted {
    animation: highlightbg .5s ease-in-out infinite alternate;
  
    .node__label {
      z-index: 5 !important;
      animation: highlighttext .5s ease-in-out infinite alternate;
    }
  }
}
