/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import '~mdb-ui-kit/css/mdb.min.css';

@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

:root {
  --map-height: 921.633px;
  --map-width: 1408px;
  --color-red:  #B71C1C;
  --color-blue:   #0D47A1;
  --color-green:  #33691E;
  --color-yellow: #FFD600;
  --color-purple: #880E4F;
  --color-orange: #E65100;
  --color-white:  #EEEEEE;
  --color-black:  #000000;
  --color-gray:  #757575;
  --color-cardback: url("/assets/oriental-tiles.png") center center;
  --color-joker: linear-gradient(
    20deg,
    #E65100,
    #FFD600,
    #33691E,
    #0D47A1,
    #880E4F,
    #B71C1C
  );
};

[data-color="-1"] { background: var(--color-cardback); }
[data-color="0"] { background: var(--color-joker); }
[data-color="1"] { background: var(--color-red); }
[data-color="2"] { background: var(--color-blue); }
[data-color="3"] { background: var(--color-green); }
[data-color="4"] { background: var(--color-yellow); }
[data-color="5"] { background: var(--color-purple); }
[data-color="6"] { background: var(--color-orange); }
[data-color="7"] { background: var(--color-white); }
[data-color="8"] { background: var(--color-black); }
[data-color="9"] { background: var(--color-gray); }

body, html {
  margin: 0;
  padding: 0;
}

.gradient-custom {
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgba(255, 187, 51, 1), rgba(233, 30, 99, 1))
}

body {
  min-height: 100vh;
}

h3 {
  font-size: 1.6rem;
}

.train, .node {
  position: absolute;
  box-shadow: 2px 2px 7px black, inset 2px 2px 6px rgba(255, 255, 255, 0.75);
  // border: 2px solid darkgray;
  cursor: pointer;
  transition: all 0.15s linear;
}

.train {
  width: 44px;
  height: 16px;
}

.route-container:hover .train {
  filter: brightness(115%);
}

.node {
  border-radius: 9px;
  width: 18px;
  height: 18px;
  background: gray;

  &:after {
    text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
    color: white;
    font-family: 'Stint Ultra Condensed';
    font-size: 1.7rem;
    content: 'Zielona Góra';
    letter-spacing: -0.5px;
    white-space: nowrap;
    // display: block;
    display: none;
  }
}
