<div class="game-container">

  <div class="card-picker">
    <h3 class="card-picker__title">Draw cards: </h3>
    <div class="card-picker__cards">
      <game-card 
        (cardSelected)="onCardSelected($any($event))"
      ></game-card>
      <game-card 
        *ngFor="let card of game.availableCards; let i = index"
        [card]="card"
        [index]="i"
        (cardSelected)="onCardSelected($any($event))"
      ></game-card>
    </div>
  </div>

  <game-map
    (routeSelected)="onRouteSelected($any($event))"
    [gameMap]="gameMap"
  ></game-map>

  <div class="mission-picker">
    <h3 class="mission-picker__title">Draw missions: </h3>
    <button
      *ngIf="player.availableMissions.length == 0"
      class="btn btn-primary"
      (click)="onMissionDrawClick()"
      >Draw missions
    </button>
    <player-mission 
      *ngFor="let mission of player.availableMissions"
      [mission]="mission"
      [active]="false"
      [gameMap]="gameMap"
      [playerIndex]="playerIndex"
      (missionSelected)="onMissionSelected($any($event))"
    ></player-mission>
    <button
      *ngIf="player.availableMissions.length > 0"
      class="btn btn-success btn-sm"
      (click)="onMissionAcceptClick()"
      >Accept missions
    </button>
  </div>

  <div class="player-missions">
    <h3 class="player-missions__title">Your missions: </h3>
    <div class="player-missions__wrapper">
      <player-mission
      *ngFor="let mission of player.missions"
      [mission]="mission"
      [gameMap]="gameMap"
      [playerIndex]="playerIndex"
      [active]="true"
    ></player-mission>
    </div>
  </div>

  <div class="player-cards">
    <h3>Your cards:</h3>
    <player-card 
      *ngFor="let playerCard of playerCards"
      [quantity]="playerCard.quantity"
      [card]="playerCard.card"
      (colorSelected)="onColorSelected($any($event))"
    ></player-card>
  </div>

  <div class="player-info">
    <player-info 
      *ngFor="let player of game.players; let playerIndex = index"
      [player]="player"
      [index]="playerIndex"
      [active]="playerIndex == game.currentPlayer"
    ></player-info>
  </div>

</div>
