<div class="game-container">
  <div class="card-picker">
    <h3 class="card-picker__title">Draw cards: </h3>
    <div class="card-picker__cards">
      <game-card 
        (cardSelected)="onCardSelected($any($event))"
        ></game-card>
      <game-card 
        *ngFor="let card of game.availableCards; let i = index"
        [card]="card"
        [index]="i"
        (cardSelected)="onCardSelected($any($event))"
        ></game-card>
    </div>
  </div>
  <div class="gamemap">

  </div>
  <div class="missions">

  </div>
  <div class="player-cards">
    <h3>Your cards:</h3>
    <player-card 
      *ngFor="let playerCard of playerCards"
      [quantity]="playerCard.quantity"
      [card]="playerCard.card"
      ></player-card>
  </div>
</div>
